.container {
    color:#ffffff;
    padding: 0.5rem;
    border-radius: 15px;
    max-width: 80%;
    z-index:2;
}


.container ul,
.container li {
  list-style: none;
  margin: 0;
}

.container ul {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px 20px;
    border-radius: 15px;
  }
  
.container li {
    background-color: #009473;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    border:3px solid white;
  }
  

  li:last-child {
    margin-bottom: 0px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .buttons a {
    border-radius: 5px;
  }

  .preview {
    background-color: #0066FF;
    padding:0.5rem;
  }
  
  .site {
    background-color: #715DF2;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }


  
@media only screen and (min-width: 960px) {
  

  .buttons {
    justify-content: space-evenly;
  }
    .preview,
    .site {
      margin-top:0.5rem;
      padding-left: 2rem;
      padding-right:2rem;
    }

    .container ul {
      
    }
    .container li {
      margin: auto auto 20px auto;
      width: 60%;
      justify-content: center;
    }
 }