.container {
    color:#ffffff;
    padding: 0.5rem;
    border-radius: 15px;
    z-index:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border-radius: 15px;
    z-index: 1;
}
  
.container li {
    background-color: #009473;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    border:3px solid white;
    z-index: 11;
  }

/* .open {
  background-color: #009473;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 0%;
  padding: 1rem;
}

.closed {
  width: 90%;
  background-color: #009473;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
   overflow: hidden; 
   cursor: pointer;
  border:3px solid white;
} 

   .closedDescription {
    position: absolute;
    opacity: 0;
    display: none;
  }

  .openDescription {
    position: relative;
    opacity: 1;
  } */


  li:last-child {
    margin-bottom: 0px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .buttons a {
    border-radius: 5px;
  }

  .preview {
    background-color: #0066FF;
    padding:0.5rem;
  }
  
  .site {
    background-color: #715DF2;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }


  
@media only screen and (min-width: 960px) {
  

  .buttons {
    justify-content: space-evenly;
  }
    .preview,
    .site {
      margin-top:0.5rem;
      padding-left: 2rem;
      padding-right:2rem;
    }

    .container ul {
      
    }
    .container li {
      margin: auto auto 20px auto;
      width: 60%;
      justify-content: center;
    }
 }