.contactWrapper {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/black_contact.svg");
    background-size: cover;
    overflow:hidden;
}

.contactFormWrapper{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding:0.2rem;
    background-color: #000000;
    border: 2px solid white;
}

.contactList {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
}

.contactList a {
    color: rgb(255, 255, 255);
    width: 80%;
    margin: 0.5rem;
    padding:0.2rem;
    border: 2px solid white;
    border-radius: 5px;
}


/* Media Query. */

@media only screen and (min-width: 960px) {

    .contactFormWrapper {
        flex-direction: row;
        border:3px solid white;
    }

    .contactList {
        flex-direction: column;
        padding:1.5rem
    }

    .contactList a {
        margin-top:0.75rem;
        margin-bottom:0.75rem;
        padding:0.5rem;
        display: flex;
        justify-content: center;
    }

    .contactList a i {
        padding:0.5rem;
    }
 }