.contactWrapper {
    height:calc(100vh - 46px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/black_contact.svg");
    background-size: cover;
}

.contactFormWrapper{
    border-radius: 5px;
    padding:0.2rem;
    background-color: black;
}

.contactList {
    margin-top: 2rem;
    color: whitesmoke;
    text-align: center;
    padding: 0;
}

.contactList a {
    color: whitesmoke;
    width: 80%;
}

.contactList a div {
    border:1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.4rem 0;
    background-color: black;
}

/* Media Query. */

@media only screen and (min-width: 960px) {

    .contactWrapper {
        height:calc(100vh - 46px);
        flex-direction: row;
        justify-content: space-around;
    }

 }