.footer-wrapper {
    display: flex;
    background-color: black;
    width: 100%;
    position: sticky;
    color:blanchedalmond;
    font-size:0.6rem;
    justify-content: space-between;
    align-items: center;
}

.socialMedia{
    justify-content: flex-end;
    flex-direction: row;
    margin-right:2rem;
}

.footer-wrapper p {
    padding-left: 2rem;
}

.socialMedia i {
    padding: 0 0.5rem 0 0.5rem;
    color:#73F15F;
}

i:nth-child(2) {
    border-left: 1px solid #73F15F;
    border-right: 1px solid #73F15F;

  }
