a {
    text-decoration: none;
}

.heroSection {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../images/3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio{
    background-color: #000000; 
    border-radius: 10px;
    margin: 0 auto;
    padding: 2rem;
    color:white;
    align-self: center;
}




@media only screen and (min-width: 960px) { 
    .portfolio:hover {
        background: rgba(255, 255, 255, 0);
        border: 2px solid black;
        color:black;
        padding: 4rem;
        transition: 1s ease-out;
    }
    
}