
.background{
    background-image: url("../images/black_home.svg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(255, 255, 255);
    text-align: center;
    overflow:hidden;
}

.avatar {
    height: 100%;
}

.avatarImage {
    display: block;
    background-image: url("../images/image2jpg.jpg");
    background-size: cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-left:2rem;
    margin-top:4rem;
}

.introText{
    margin-left:1.2rem;
    margin-right:1.2rem;
    text-align: left;
    margin-bottom: 0;
}

.role{
    margin-top: 3.5rem;
    margin-left:1.2rem;
    margin-right:1.2rem;
    text-align: right;
    height: 20%;
}


@media only screen and (min-width: 960px) { 

    .avatar{
        align-items: center;
    }

    .avatarImage{
        height:240px;
        width: 240px;
        margin-left:4rem;
        margin-top:5rem;
    }

    .role {
        font-size: 200%;
        font-weight: bold;
        text-align: center;
    }
    .introText {
        margin-left: 3rem;
        margin-right: 3rem;;
        margin-top: 6rem;
        font-size: 150%;
        font-weight: bold;
    }

}

