.mainWrapper {
    background-image: url("../images/black_home.svg");
    height: 100vh;
    background-size: cover;
    color:whitesmoke;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:calc(100vh - 46px);
    overflow: hidden;
    width: 100%;
}

/* .backImage{
    background-image: url("../images/black_home.svg");
    background-size: cover;
    pointer-events: none;
    position: absolute;
    z-index: -1;

} */


