
.progressWrapper {
    display: flex;
    justify-content: center;
	flex-direction: column;
	flex-flow: column-reverse;

}

.progressWrapper h2 {
	color:white;
	display: block;
	margin: auto;
	padding-bottom: 1rem;
}

.progress {
	background-color: white;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 20rem;
	margin-left:10%;
}

.progress-done {
	background: rgb(123, 220, 250);
	border:1px solid black;
	border-radius: 20px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0.5rem;
	height: 100%;
}

.w-95 {width:95%}
.w-85 {width:85%}
.w-80 {width:80%}
/* w-75 is in bootstrap */


@media only screen and (min-width: 960px) { 
	.progressWrapper {
		flex-direction: row;
	}
    
}