
.progressWrapper {
    display: flex;
    justify-content: center;

}

.progressWrapper h2 {
	color:white;
	display: block;
	margin: auto;
}

.progress {
	background-color: white;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 20rem;
	margin-left:10%;
}

.progress-done {
	background: rgb(123, 220, 250);
	border-radius: 20px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	opacity: 1;
	transition: 1s ease 0.3s;
}

.w-95 {width: 95%}
.w-85 {width:85%}
.w-80 {width:80%}
/* w-75 is in bootstrap */