
a,a:visited,a:link {
    color: initial;
    text-decoration: none;
  }
  

  .objectWrapper li {
    color: initial;
    list-style: none;
    position: relative;
  }
  .overlay{
      position: fixed;
      height: 100vw;
      top:0;
      left:0;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.466);
  }

  .block{
    display: block;
  }
  
  /* .Projects {
    position: initial;
    text-align: center;
    background-color: rgb(216, 12, 12);
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  
  .siteTitle {
    padding: 0 0 20px 0;
    margin:0;
  }
  
  .objectContainer {
    display: block;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin-bottom:20px;
    z-index: 1;
  }
    
  .objectWrapper {
    display: flex;
    justify-content: space-evenly;
  }
  