.projectWrapper {
    min-height:calc(100vh - 46px);
    background-image: url("../images/black_projects.svg");
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}